<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
         <add name="dbgame" connectionString="data source=tesql3;initial catalog=eric test;user id=web.user;password=webuser02182000" providerName="system.data.sqlclient" /><add name="eric_testEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=tesql3;initial catalog=&quot;eric test&quot;;persist security info=True;user id=web.user;password=webuser02182000;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /><add name="eric_testEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=tesql3;initial catalog=&quot;eric test&quot;;persist security info=True;user id=web.user;password=webuser02182000;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings>
      
  <!--<configSections>
      --><!--<section name="entityframework" type="system.data.entity.internal.configfile.entityframeworksection, entityframework, version=6.0.0.0, culture=neutral, publickeytoken=b77a5c561934e089" requirepermission="false" />--><!--
  </configSections>-->
  <startup>
   
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<entityFramework>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
</configuration>